<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1>Team Name: <%= @name %></h1><br/>
  <strong>Coach: <%= @coach %></strong><br/>
  <strong>Point Guard: <%=@pg %></strong><br/>
  <strong>Power Forward: <%=@pf %></strong><br/>
  <strong>Shooting Guard: <%=@sg %></strong><br/>
  <strong>Small Forward: <%=@sf %></strong><br/>
  <strong>Center: <%=@c %></strong><br/>
</form>


 </body>
</html>


